@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code", monospace;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

/* Reveal On Scroll */
@layer components {
  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
